@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
.login-container {
    max-width: 300px;
    margin: auto;
    padding: 20px;
    margin-top: 44px;
    text-align: center;
    background-color: #2D3047;
    border-radius: 12px;

  }
  
  .imagenlibro{
    width: 120px;
  }

  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-form input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .login-form button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Montserrat Light', sans-serif;
  }
  
  .login-form button:hover {
    background-color: #0056b3;
  }
  
  .error-message {
    color: red;
    margin: 10px 0;
  }
  
  .equisde{
    font-family: 'Montserrat Light', sans-serif;
    color: #ddd;
  }

  .equisdem{
    font-family: 'Montserrat', sans-serif;
    color: #ddd;
  }